.page {
  width: 100vw;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--darkColor);
  color: var(--backgroundColor);
  text-align: right;
}
.container {
  background: rgba(0, 0, 0, 0.5);
  padding: 3rem;
}
.textarea {
  background: var(--backgroundColor);
  color: var(--blackColor);
}
.textarea .ql-editor {
  font-size: 2rem;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.form input {
  text-align: right;
  font-size: 1.2rem;
  width: 100%;
  padding: 1rem;
}
.form button {
  width: 100%;
}
.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav li {
  margin: 1rem;
}
.nav a {
  font-size: 1.5rem;
  color: var(--primaryColorLight);
  text-decoration: none;
}

.dash {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 200%;
}
