:root {
  /* page setting */
  scroll-behavior: smooth;
  font-size: 16px;
  /* vars */
  --primaryColor: #19a6b0;
  --primaryColorLight: #6ac7cc;
  --darkColor: #404042;
  --blackColor: #131313;
  --backgroundColor: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
}
body {
  background: var(--backgroundColor);
  /* maybe comment. chack on mobile */
  /* width: 100vw; */
  overflow-x: hidden;

  display: flex;
  justify-content: center;
}
.main {
  width: calc(100vw - 5rem);
  max-width: 1200px;
  box-shadow: 0 0 30px var(--blackColor);
}
header {
  height: 10rem;
  position: relative;
}
section {
  max-width: 100vw;
}
/* buttons */
.btn {
  background: none;
  border: none;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}
.text-btn {
  padding: 0.5rem 1rem;
  background: none;
  transition: 0.2s;
}
.text-btn:hover {
  background: var(--primaryColorLight);
}
.btn-color {
  padding: 0.5rem 1rem;
  background: var(--darkColor);
  color: var(--primaryColorLight);
  transition: 0.2s;
}
.btn-color:hover {
  background: var(--primaryColorLight);
  color: var(--blackColor);
}
.btn-icon {
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
  color: var(--primaryColorLight);
  transition: 0.2s;
}
.btn-icon:hover {
  color: var(--backgroundColor);
}

/* editor for admin */
.ql-editor {
  font-size: 1.2rem;
  text-align: right;
}

.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 12px;
  }
  .svg {
    height: 25rem;
  }
  .main {
    width: 100vw;
    max-width: 1200px;
    box-shadow: 0 0 30px var(--blackColor);
  }
}

@media screen and (min-width: 2600px) {
  :root {
    font-size: 24px;
  }
}
