/* header */

.shapes {
  width: 100%;
  height: 100%;
  position: relative;
}
.lines {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}
.svg {
  height: 30rem;
  z-index: -1;
}
.container {
  display: flex;
}
.right {
  position: absolute;
  bottom: 0;
  right: -8rem;
  rotate: 180deg;
}
.filler_right {
  width: 3rem;
}

.filler_left {
  width: 10rem;
  background: var(--darkColor);
}
.logo {
  height: 10rem;
  padding: 1.5rem;
  z-index: 1;
  filter: drop-shadow(2px 2px 0px var(--backgroundColor));
}

.navbar {
  position: relative;
  height: 10rem;
  margin-right: 0.5;
}
.navbar ul {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  list-style: none;
}
.navbar li {
  margin: 0.3rem;
  white-space: nowrap;
}
.navbar button {
  font-size: 1rem;
}
.social {
  position: absolute;
  bottom: 0;
  margin-left: 0.5rem;
}
.mobile_navbar {
  z-index: 3;
  position: fixed;
  right: 0.5rem;
  top: 10.5rem;
}
.mobile_navbar button {
  font-size: 3rem;
  color: var(--primaryColorLight);
}

.mobile_navbar ul {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}
.nav_container {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.mobile_navbar ul button {
  font-size: 1.5rem;
  width: 100%;
  text-align: right;
}

.scroll_navbar {
  top: 0.5rem;
  right: 0.5rem;
}
.scroll_navbar button {
  color: var(--primaryColor);
}
.scroll_navbar li button {
  color: var(--backgroundColor);
}

.backup_btn {
  position: fixed;
  z-index: 2;
  bottom: 1rem;
  left: 1rem;
  font-size: 2rem;
  height: 2.8rem;
  width: 2.8rem;
  display: flex;
  align-items: center;
  background: var(--darkColor);
  border-radius: 50%;
}
.backup_btn:hover {
  background: var(--primaryColor);
}

/* tablet */
@media screen and (max-width: 1200px) {
  .filler_left {
    width: 2rem;
  }
  .navbar button {
    font-size: 0.8rem;
  }
}
/* mobile */
@media screen and (max-width: 800px) {
  .filler_left {
    width: 1rem;
  }
  .logo {
    transform: translateX(-22vw);
  }
}
