.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../public/hero-backgroung.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.about {
  text-align: right;
  color: var(--backgroundColor);
}
.about p {
  margin: 0.5rem 0 1rem 0;
}
.about h1 {
  color: var(--primaryColorLight);
}

.blob {
  height: 25rem;
  padding: 2rem;
}
.btn_container button {
  margin-left: 1rem;
}
.full {
  flex-direction: column;
  color: var(--backgroundColor);
}

.full img {
  transform: translateX(2rem);
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.info button {
  font-size: 2.5rem;
}
.info ul {
  list-style: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .about {
    text-align: center;
  }
  .blob_container {
    height: 70%;
    width: 70%;
  }

  .blob {
    height: 100%;
    width: 100%;
    padding: 2rem;
  }
  .full img {
    transform: translateX(0.5rem);
  }
}
