.container {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../public/hero-backgroung.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  padding: 2rem;
  color: var(--backgroundColor);
  width: 100%;
}
.container a {
  font-size: 3rem;
}
.form_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  text-align: right;
}
.form_container h4 {
  font-size: 1.6rem;
}
.form_container ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.form_container li {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: bottom;
  margin: 0rem 1rem;
}
.form_container span {
  margin: 0.2rem;
}
.servics ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}
.servics li {
  font-size: 1.5rem;
  transition: 0.5s;
}
.servics li:hover {
  scale: 1.2;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3));
}
/* .servics h5 {
  color: var(--primaryColor);
} */
.icon {
  color: var(--primaryColorLight);
  font-size: 8rem;
}

.btn {
  padding-top: 1rem;
}
.links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

/* media quarrys */
@media screen and (max-width: 800px) {
  .form_container {
    flex-direction: column;
  }
  .form_container ul {
    flex-direction: column;
  }
  .form_container li {
    align-items: center;
  }
  .icon {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 2600px) {
}
